
<!-- todo: make this more automated/DRY -->

<div style="padding: 20px;">
    <h1>Brand Primary</h1>
    <p>$color-brand-primary-X00</p>
    <div class="demo-color-primary-100">100</div>
    <div class="demo-color-primary-200">200</div>
    <div class="demo-color-primary-300">300</div>
    <div class="demo-color-primary-400">400</div>
    <div class="demo-color-primary-500">500</div>
    <div class="demo-color-primary-600">600</div>
    <div class="demo-color-primary-700">700</div>
    <div class="demo-color-primary-800">800</div>
    <div class="demo-color-primary-900">900</div>

    <h1>Gray</h1>
    <p>$color-gray-X00</p>
    <div class="demo-color-gray-100">100</div>
    <div class="demo-color-gray-200">200</div>
    <div class="demo-color-gray-300">300</div>
    <div class="demo-color-gray-400">400</div>
    <div class="demo-color-gray-500">500</div>
    <div class="demo-color-gray-600">600</div>
    <div class="demo-color-gray-700">700</div>
    <div class="demo-color-gray-800">800</div>
    <div class="demo-color-gray-900">900</div>
</div>



