// App default
$app-max-width: 1280px;
$app-padding: 20px;
$app-font-size: 100%;
$app-line-height: 1.5;

// DLSS brand colors
$color-dlss-primary: #004a88;
$color-dlss-secondary-01: #003a5d;
$color-dlss-secondary-02: #006680;
$color-dlss-secondary-03: #4c9d2f;
$color-dlss-tertiery-01: #008476;
$color-dlss-tertiery-02: #b5be00;
$color-dlss-accent: #a8a8aa;
$color-dlss-copy: #616265;

// Red Arrow brand colors
$color-ral-primary-red: #BA0C2F;
$color-ral-primary-charcoal: #1D252D;
$color-ral-secondary-cool-gray: #888B8D;
$color-ral-accent-dark-gray-90: #333F48;
$color-ral-accent-dark-gray-75: #50555a;
$color-ral-accent-light-gray: #c8d2de;
$color-ral-accent-blue: #2980b9;
$color-ral-accent-teal: #16a085;
$color-ral-accent-green: #9bbb59;
$color-ral-accent-orange: #f39c12;

$color-white: #fff;
$color-black: #000;

$transition-duration: 200ms;
$transition-curve: ease-out;
