.c-button {
    padding: em(6) em(18);
    background-color: #aaa;
    border: 1px solid darken(#aaa, 10);
    color: #fff;
    transition: all 200ms ease;

    // states
    &:active,
    &.active {
        background-image: none;
        outline: 0;
    }

    &.disabled,
    &:disabled {
        cursor: not-allowed;
        opacity: .65;
    }

    &:hover {
        cursor: pointer;
    }
}

// variants
.c-button--primary {
    background-color: pink;
    border-color: darken(pink, 10);
}

.c-button--secondary {
    background-color: gray;
    border-color: darken(gray, 10);
}

.c-button--info {
    background-color: cornflowerblue;
    border-color: darken(cornflowerblue, 10);
}

.c-button--success {
    background-color: green;
    border-color: darken(green, 10);
}

.c-button--warning {
    background-color: yellow;
    border-color: darken(yellow, 10);
}

.c-button--danger {
    background-color: red;
    border-color: darken(red, 10);
}
