<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ _self.title }} | {{ _config.project.title }}</title>
    <!-- css compiled by gulp/gulp-sass at the moment; looking
    into using only npm to do this. Ultimately, this may be handled by webpack, etc. depending on implementation -->
    <link media="all" rel="stylesheet" href="/css/app.css">
</head>
<body>
