{{render '@header'}}
    <!-- This is the default preview template, and one can be
    created for each component if you want.
    http://fractal.build/guide/components/preview-layouts-->
    <div class="app">
        {{{yield}}}
    </div>
    
{{render '@footer'}}
