<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Preview Title</title>
    <!-- css compiled by gulp/gulp-sass at the moment; looking
    into using only npm to do this -->
    <link media="all" rel="stylesheet" href="{{ path '/css/app.css' }}">
</head>
<body>
    <!-- This is the default preview template, and one can be
    created for each component if you want. -->
    <div class="app">
        {{{yield}}}
    </div>
</body>
</html>
