html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

html {
    font-size: $font-size-root;
}

body {
    background-color: $body-bg;
    color: $body-color;
    font-size: $font-size-base;
    font-family: $font-family-base;
    line-height: $line-height-base;
}

// headings
h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

// links
a {
    color: $link-color;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        text-decoration: underline;
    }
}




code, kbd, pre, samp {
    font-family: $font-family-monospace;
}



hr {
    border-bottom: 1px solid $color-gray-200;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 1em 0;
}



//temp until template styles are worked out
//markup for shared render template is
//is /library/_preview.hbs
.app {
    margin: 0 auto;
    padding: 2em;
}
