// ABV - consider using o- prefix for these, to follow more OOCSS?

// experimenting with dev-user-centric naming
// as in, I just want this row to be 3 columns (thirds)
// and not necessarily have to know what context it is in
// 12 or 16 or ?? columns


.grid {
    @include outer-container(100%);
    padding: 10px 0;
    clear: both;
}

.grid--no-pad {
    padding: 0;
}

.l-columns--vertical-padding {
    // spacing accounts for bottom pad/margin on
    // elements in the columns, and the potential to
    // .has-divider
    padding: 15px 0;
    // margin-bottom: 15px;
}

.l-row {
    clear: both;
    @include clearfix;
    padding: 10px 0;
}

.l-col-full { // pads like all other columns
    @include span-columns(12);
}

.l-col-fill { // no margin or padding; literally fills parent container
    @include fill-parent;
}

.l-col-half {
    @include span-columns(6);
    @include omega(2n);
}

.l-col-third {
    @include span-columns(4);
    @include omega(3n);
}

.l-col-quarter {
    @include span-columns(3);
    @include omega(4n);
}

.l-col-fifth {
    @include span-columns(2.4); // based on 12 col grid (12/5)
    @include omega(5n);
}

.l-col-sixth {
    @include span-columns(2);
    @include omega(6n);
}

.l-col-1 {
    @include span-columns(1);
}

.l-col-2 {
    @include span-columns(2);
}

.l-col-3 {
    @include span-columns(3);
}

.l-col-4 {
    @include span-columns(4);
}

.l-col-5 {
    @include span-columns(5);
}

.l-col-6 {
    @include span-columns(6);
}

.l-col-7 {
    @include span-columns(7);
}

.l-col-8 {
    @include span-columns(8);
}

.l-col-9 {
    @include span-columns(9);
}

.l-col-10 {
    @include span-columns(10);
}

.l-col-11 {
    @include span-columns(11);
}

.l-col-12 {
    @include span-columns(12);
}

.grid--tiled {
    @include outer-container(100%);

    [class*=l-col] {
        // default == gutter width defined by
        // span-columns context
        @include pad(0 default default 0);
    }
}