//App & Content Layout structures
.o-text-container {
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 56em;
}


.o-layout-record {
    @include grid();

    &__main {
        @include grid-col();
        padding: $spacer;
        background: whitesmoke; //temp
    }

    &__aside {
        @include grid-col(12);
        padding: $spacer;
        background: lightblue;  //temp

        @include breakpoint(md) {
            @include grid-col(4);
        }

        @include breakpoint(lg) {
            @include grid-col(3);
        }
    }
}
